<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<%- include('partials/header') %>


</head>
<body>
<div class="child">
  <%- include('partials/content') %>
  
  <div style="padding-left:16px; color: antiquewhite;">
    <!-- section for moving name box -->
    <div class="wrapper">
      <h2>Hi! My name is </h2>
        <div class="words">
          <h2>
          <span>Harvend</span><span> </span>
          <span>Tauries</span>
          </h2>
        </div>
      
    </div>
    <div class = "profile">
      <h1>Introduction</h1>
      <p>Hi there my name is Harvend, I'm a 2nd Year student of Centennial College, Software Engineering Program. I'm a motivated individual with high willingness to learn new things. 
        I'll be having my co-op program on Summer 2024; therefore, I'm trying to learn as many things that could help me in the field. 
        <br>
        I'm proficient in C#, javascript, HTML, PL/SQL, and Python, and i'm still eager to add more to my skillset.
        I believe on my problem solving could came in handy within the field. Thanks for visiting my website, and i'm looking forward to connecting with you!
        <br>
        <br>
        <br>
        <a href="RESUME FOR INTERN HARVEND.pdf" class="resume"> This is my resume</a>
      </p>
      <img src="/images/profile.jpg" alt = "profile pic" class="profpic">
    </div>
    <br>

  </div>
</div>


</body>
</html>
