<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<%- include('partials/header') %>
</head>
<body>
<div class="child">
  <%- include('partials/content') %>
  
  <div style="padding-left:16px; color:antiquewhite" >
    <h1><span class="write">Hi Welcome</span> to the page</h1>
    <p>Feel Free to Navigate through the page. :)</p>
  </div>
</div>


<script>

</script>

</body>
</html>
