<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<%- include('partials/header') %>
</head>
<body>
<div class="child">
  <%- include('partials/content') %>
  
  <div style="padding-left:16px; text-align: center; color: antiquewhite;">
    <h2 >PROJECTS</h2>
  </div>
  <!-- projects sectiobn  -->
  <div class="proj">
    <div class="project" style="background-image: url(/images/pro1.png); background-size:auto;">
      <div class="projectText">
        <h1>Tic-Tac-Toe</h1>
        <br>
        In this projects, i learn to use conditional method, array, and user input to run the program. This is a console based program
        I'm working as the sole developer for this project. 
      </div>
    </div>
    <div class="project" style="background-image: url(/images/pro2.png) ; background-repeat: no-repeat; background-size: 402px 420px;">
      <div class="projectText">
        <h1>
          Node Website w Express
        </h1>
        <br>
        This is my most recent projects, i'm creating a website and must utilize express.js to run the website on localhost. 
        This project i need to use npm library to do this project
      </div>
    </div>
    <div class="project" style="background-image: url(/images/pro3.png) ; background-size: 400px ;">
    <div class="projectText">
      <h1>The Cat API</h1>
      In this project i utilize javascript function to retrieve images from CAT API website, and i also implement function to filter the search of the API.
      This project is part of individual assignment of javascript.
    </div></div>
  </div>
  <br>
</div>


</body>
</html>
