<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<%- include('partials/header') %>

</head>
<body>


<div class="child">
  <%- include('partials/content') %>
  <div style="padding-left:16px; color: antiquewhite; text-align: center;">
    <h2>SERVICES</h2>
    <p> Im offering few services that you may interested in</p>
  </div>
  <div class="proj">
    <div class="project" style="background-image: url(/images/build.png); background-size:contain;">
      <div class="projectText">
        <h1 class="textSer">
          Program Creation
        </h1>


      </div>
    </div>
    <div class="project" style="background-image: url(images/program.png) ; background-repeat: no-repeat; background-size: 402px 420px;">
      <div class="projectText">
        <h1 class="textSer">
          General Programming
        </h1>
      </div>
    </div>
    <div class="project" style="background-image: url(images/web.png) ; background-size: 400px ;">
    <div class="projectText">
      <h1 class="textSer">
        Website Creation
      </h1>
    </div></div>
  </div>
  <br>
</div>


</body>
</html>
